@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  @apply bg-dark h-full w-3;
}
::-webkit-scrollbar-thumb {
  @apply bg-blue;
}
.eq {
  transition: 500ms cubic-bezier(0.25, 1, 0.5, 1);
}
.sp {
  @apply py-20;
}
/* typography */
h1 {
  @apply lg:text-6xl text-4xl tracking-wider  text-black font-bold capitalize;
}
h2 {
  @apply md:text-2xl text-xl text-light font-semibold capitalize;
}
h3 {
  @apply text-2xl lg:text-3xl text-center capitalize font-bold text-black tracking-[0.25em];
}
h4 {
  @apply text-lg font-medium text-wrap text-black;
}
h5{
  @apply text-lg font-[700] capitalize
}
p {
  @apply md:text-lg text-[1rem]  text-dark font-[300];
}

small {
  @apply text-sm text-black font-medium;
}

@keyframes custom-ping {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 15;
  }
}

.animate-custom-ping {
  animation: custom-ping 5s ease-in-out infinite;
}

/* feature modal */
.feature-modal {
  @apply relative;
}

.feature-modal::after {
  @apply eq absolute bottom-0 left-0 right-0 h-0 w-full  bg-orange/70 content-[""];
}

.feature-modal:hover::after {
  @apply h-3/4;
}

.button-modal {
  @apply relative;
}

.best-sell-modal {
  @apply absolute eq bottom-0 origin-bottom left-0 right-0 h-10 w-full z-40  bg-orange/50 content-[""];
}

.best-sell-modal:hover {
  @apply h-3/4  eq;
}
.best-feature-modal {
  @apply absolute eq bottom-0 origin-bottom left-0 right-0 h-10 w-full z-40  bg-blue/50 content-[""];
}
.best-feature-modal:hover {
  @apply h-3/4  eq;
}
